body {
    margin: 0; /* убираем поля тега BODY */
}

.point {
    width: 3px;
    height: 3px;
    position: absolute;
}

.in {
    background-color: green;
}

.out {
    background-color: red;
}

.grid {
    display: grid;

    /*свойство для колонок*/
    grid-template-columns: 35% 1fr 20% 1fr 40%;
}